# Ignore everything
*
mpmc/*
mpmc/test/*
mpmc/benchmark/*

# Do not ignore these files
!CMakeLists.txt

!mpmc

!mpmc/CMakeLists.txt
!mpmc/debug.h
!mpmc/vector.h
!mpmc/vector.c

!mpmc/test
!mpmc/test/CMakeLists.txt
!mpmc/test/mpmc_tests.cpp

!mpmc/benchmark
!mpmc/benchmark/CMakeLists.txt
!mpmc/benchmark/mpmc_benchmark.cpp